@import '../../style.scss';

.cardList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.loadMore {
    text-align: center;
    padding: 40px 0;
    color: $dodgerBlue;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

h2 {
    text-align: center;
    padding: 20px 0;
}

.latest {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.featured {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}