@import '../../style.scss';

.third-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
    padding: 50px 250px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        .icon {
            height: 40px;
            width: 40px;
            *{
                color: $wildWatermelon;
                padding: 10px 0;    
            }
        }

        &--title {
            font-size: 24px;
            font-weight: 500;
            padding: 10px 0;
        }

        &--text {
            font-size: 14px;
            padding: 10px 0;
        }
    }
}