$white: #FFFFFF;
$aliceBlue: #F6F7F8;
$buttercup: #2E90E5;
$raisinBlack: #262626;
$blueCharcoal: #22262A;
$radicalRed: #FF4858;
$heliotrope: #8F65FF;
$wildWatermelon: #FF6875;
$spindle: #C1C8CE;
$sirocco: #5D656B;
$dodgerBlue: #33A0FF;
$whisper: #E5E5E5;
$silver: #BDBDBD;
$tangerin: #E59703;
$purple0: #5457BB;
$victoria: #494CA3;
$amber: #FFC000;
$whiteSmoke: #F1F1F1;
$curiousBlue: #3284AE;
$blue0: #3CA9C7;
$purle1: #5870BE;
$red0: #E63737;
$balticSea: #353A40;
$yellow0: #ECD345;
$deepSkyBlue: #03A9F4;
$BdazzledBlue: #385C8E;
$goldenPoppy: #FFC600;
$red1: #FD2E2E;
$darkCharcoal: #2E2E2E;
$ghostWhite: #FAFAFB;
$black: #000000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: $blueCharcoal;
    // font-family: $proxima;
}