@import '../../style.scss';

.accessories-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: $aliceBlue;
    margin: 20px 0;
    font-weight: 600;

    &__number {
        padding: 20px;

        &:hover {
            border: 1px solid $spindle;
        }
    }

    .active {
        background: $spindle;
        color: $white;
    }
}