@import '../../style.scss';

.checkout-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin-top: 20px;
    padding: 30px 50px;

    .bar {

        input {
            height: 40px;
            width: 150px;
            background: none;
            border: 1px solid $spindle;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-right: none;
        }

        button {
            height: 40px;
            width: 100px;
            background: $dodgerBlue;
            border: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}